<div id="<%= dom_id livro %>">
  <p>
    <strong>Title:</strong>
    <%= livro.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.Autor %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= livro.nota %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= livro.Descricao %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= livro.text %>
  </p>

</div>
